@media screen and (max-width: 768px) {
	section{
		height: auto;
		width: auto;	
		margin-bottom: 9rem;	
	}
	header{
		height: 9rem;
		width: auto;
	}
	header img{
		height: 9rem;
	}
	.header-nav{
		width: auto;}
	.header-nav a {
		font-size: 2.5rem;
	}
	.header-nav-item{
		padding-right: .5rem;
	}
	header ul{
		padding-inline-start: .5rem;
	}
    .screen1{
		flex-flow: column;
		padding-top: 1rem;  
	}
	.block1 {
		transition: all 1s linear 1s;
		position: relative;
		left: -100rem;
	}
	:hover .block1{
		left: 5rem;
	}
	.block2 {
		transition: all 1s linear 1s;
		position: relative;
		left: -105rem;
	}
	:hover .block2{
		left: 12.5rem;
	}
	
	.block2 :first-child{
		margin-bottom: 4.2rem;
	}
	.block3 {
		transition: all 1s linear 1s;
		position: relative;
		right: -105rem;
		margin-left: 30rem;
	}
	:hover .block3{
		right: 16rem;
	}
	.block3 img{
		border-radius: 4rem;
		width: 46.5rem;
	}
	.block3 :first-child{
		margin-bottom: 4.2rem;
	}
	.block4{
		transition: all 1s linear 2s;
		position: relative;
		right: -60rem;
		
	}
	:hover .block4{
		right: 8.5rem;
	}
	
	.block1 {
		left: -60rem;
	}
	.block2 {
		left: -60rem;
	}
	.block3 {
		right: 60rem;

	}
	.block4 {
		right: 60rem;
	}
	.screen2 {
		display: block;
	}
	.part1{
		width: 100%;
		font-size: 3rem;			
	}
	.circle1,.circle2,.circle3,.circle4{
		margin-top: 3rem;
		margin-bottom: 0rem;
		margin-left: 4rem;
		margin-right: 4rem;
		line-height: 0;
	}
	.part1 img{
		width: 25rem;
	}
	@keyframes animation-circle1 {

		from,
		to {
			top: 0;
			left: 0rem;
		}
		25% {
			left: 37rem;
			top: 0;
		}
		50% {
			top: 35rem;
			left: 37rem;
		}
		75% {
			top: 35rem;
			left: 0rem;
	}
	}
	@keyframes animation-circle2 {
	
		from,
		to {
			top: 0;
			left: 0rem;
		}
		25% {
			left: 0rem;
			top: 35rem;
		}
		50% {
			top: 35rem;
			left: -37rem;
		}
		75% {
			top: 0rem;
			left: -37rem;
	}
	}
	
	@keyframes animation-circle3 {
	
		from,
		to {
			top: 0;
			left: 0rem;
		}
		25% {
			left: 0rem;
			top: -35rem;
		}
		50% {
			top: -35rem;
			left: 37rem;
		}
		75% {
			top: 0rem;
			left: 37rem;
	}
	}
	@keyframes animation-circle4 {
	
		from,
		to {
			top: 0;
			left: 0rem;
		}
		25% {
			left: -37rem;
			top: 0;
		}
		50% {
			top: -35rem;
			left: -37rem;
		}
		75% {
			top: -35rem;
			left: 0rem;
	}
	}
	.part2 {
		display: none;
	}
	.h1{
	font-family: var(--font-Rosario);
	font-weight: 700;
	font-size: 5rem;
	text-align: center;
	width: 100%;
	}
	.meet{
		display: block;
		align-items: center;
		font-family: var(--font-Volkhov);
		font-size: 4rem;
		padding-left: 14rem;
	}
	.meet:hover div{
		filter: brightness(1)
	}
	div .expert1, .expert2, .expert3, .expert4{
		margin-top: 1rem;
	}
	.meet div:hover .name-expert{
		filter: brightness(1);
		transition: all 1s linear;
	}
	.contacts{
		width: 85%;
		margin: 0 auto;
		padding-top: 1rem;
		flex-flow: column;
		flex-direction: column-reverse;
		align-items: center; 
	}
	.forms p{
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
		font-family: var(--font-Rosario);
		font-weight: 700;
		font-size: 3.8rem;
		font-style: italic;
		line-height: 3rem;
	}
	.forms{
		width: 100%;
		text-align: center;
		margin: 2rem auto;
	}
	form input, textarea{
		font-family: var(--font-Rosario);
		font-size: 2.8rem;
		font-weight: 700;
	}
	.forms-total{
		display: flex;
		justify-content: space-between;
		margin: 3.5rem 2.9rem 2.0rem;
		padding-top: 3.5rem;
	}
	.footer{
		width: 100%;
		display: block;
		margin: 1rem auto 2rem;
		text-align: center;
		font-family: var(--font-Rosario);
		font-weight: 700;
		font-size: 2rem;
	}
	.footer span, li{
		font-family: var(--font-Rosario);
		font-weight: 600;
		font-style: italic;
		font-size: 2rem;
		
	}
	.footer h2{
		font-family: var(--font-Rosario);
		font-weight: 700;
		font-size: 2rem;
		margin-top: 1rem;
		margin-bottom: 0;
	}
	.footer ul{
		padding-inline-start: 48%;
		padding-inline-end: 48%;
	}
}


@media screen and (max-width: 992px) {
	section{
		height: auto;
		max-width: 99.2rem;		
	}
	header{
		height: 9rem;
		width: auto;
	}
	header img{
		height: 9rem;
	}
	.header-nav{
		width: 90%;
	}
	.header-nav a {
		font-size: 2.5rem;
	}
	.header-nav-item{
		padding-right: 1rem;
	}
	header ul{
		padding-inline-start: 1rem;
	}
	.screen1{
		padding-top: 1rem;
		flex-wrap: wrap;
		padding-bottom: 2rem;		
	}
	.block1 {
		order: 1;
	}
	.block2 {
		order: 3;
	}
	.block3 {
		order: 4;
		margin-left: 1rem;
	}
    .block4 {
         order: 2;
    }
	.block1 {
		transition: all 1s linear 1s;
		left: -40rem;
	}
	:hover .block1{
		left: 10rem;
	}
	.block2 {
		transition: all 1s linear 1s;
		left: -105rem;
	}
	:hover .block2{
		left: 2rem;
	}
	.block2 :first-child{
		margin-bottom: 1.6rem;
	}
	.block3 {
		transition: all 1s linear 1s;
		right: -105rem;
		
	}
	:hover .block3{
		right: -4rem;
	}
	.block3 :first-child{
		margin-bottom: 1.6rem;
	}
	.block4{
		transition: all 1s linear 1s;
		right: -70rem;
	}
	:hover .block4{
		right: -16rem;
	}


	
	.screen2{
		flex-direction: column;

	}
	.part1 {
		order: 2;
		margin-bottom: 1rem;
	}
	.part2 {
		order: 1;
	}
	.part1{
		width: 100%;
		font-size: 3rem;			
	}
	.circle1,.circle2,.circle3,.circle4{
	margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
	margin-right: 0rem;
	padding: 0rem;
	}
	.circle1,.circle3,{
		margin-top: 0rem;
		margin-bottom: 0rem;
		margin-left: 0rem;
		margin-right: 0rem;
		padding: 0rem;
		}
	.part1 img{
		width: 29rem;
	}
	@keyframes animation-circle1 {

		from,
		to {
			top: 0;
			left: -17rem;
		}
		25% {
			left: 35rem;
			top: 0;
		}
		50% {
			top: 36rem;
			left: 35rem;
		}
		75% {
			top: 36rem;
			left: -17rem;
	}
	}
	@keyframes animation-circle2 {
	
		from,
		to {
			top: 0;
			left: 6rem;
		}
		25% {
			left: 6rem;
			top: 35rem;
		}
		50% {
			top: 35rem;
			left: -45rem;
		}
		75% {
			top: 0rem;
			left: -45rem;
	}
	}
	
	@keyframes animation-circle3 {
	
		from,
		to {
			top: 0;
			left: -17rem;
		}
		25% {
			left: -17rem;
			top: -36rem;
		}
		50% {
			top: -36rem;
			left: 35rem;
		}
		75% {
			top: 0rem;
			left: 35rem;
	}
	}
	@keyframes animation-circle4 {
	
		from,
		to {
			top: 0;
			left: 6rem;
		}
		25% {
			left: -47rem;
			top: 0;
		}
		50% {
			top: -35rem;
			left: -47rem;
		}
		75% {
			top: -35rem;
			left: 6rem;
	}
	}
	.h1{
		    font-size: 6rem;
		}
		.meet{
			flex-wrap: wrap;
			align-items: center;
			font-family: var(--font-Volkhov);
			font-size: 4.1rem;
			justify-content: center;
		}
		.meet:hover div{
			filter: brightness(1)
		}
		div .expert1, .expert2, .expert3, .expert4{
		margin: 1rem 1rem;
	}
	.meet div:hover .name-expert{
		filter: brightness(1);
		transition: all 1s linear;
	}
	.contacts{
		flex-wrap: wrap;
		width: 100%;
		padding-top: 1rem;
	}
	.forms{
		width: 90%;
		text-align: center;
		margin: 1rem auto;		
	}
	.forms p{
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
		font-family: var(--font-Rosario);
		font-weight: 700;
		font-size: 5.4rem;
		line-height: 6.7rem;
		padding-top: 0;
	}
	.map{
		width: 100;
		margin: 1rem auto;
	}
	form input, textarea{
		font-size: 3rem;
	}
	.footer{
		width: 95%;
	}
	.footer, .footer span, li{
		font-size: 2.2rem;
	}
	.footer h2{
		font-size: 2.7rem;
	}
}	
	