@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,600;0,700;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
html{
	font-size: 10px;
	size: 10px;
	--font-Volkhov: 'Volkhov', serif;
	--font-Rosario: 'Rosario', sans-serif;
}
body{
	padding: 0;
    margin: 0;
	background-color: #E5E5E5;
	font-family: 'Rosario', sans-serif;
}
section{
	width: 192rem;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	margin-bottom: 13.2rem;
	height: 100vh;
}
.screen1, .screen2, .screen3{
	display: flex;
	align-items: center;
}
header{
	background-color: black;
	height: 12.9rem;
	margin: 0 auto;
	width: 192rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #FFFFFF;
	top: 0;
	position: sticky;
	z-index: 1;
}
.header-nav{
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 65%;
	margin: 0 auto;
}
.header-nav a {
    font-weight: 700;
	font-style: italic;
	font-size: 3.6rem;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
}
.header-nav-item{
	padding-right: 2rem;
}
.screen1{
	padding-top: 10rem;
}
.block1 {
	transition: all 1s linear 2s;
	position: relative;
	left: -60rem;
}
:hover .block1{
	left: 4.3rem;
}
.block1 img{
	border-radius: 4rem;
	width: 37rem;
}
.block2 {
	transition: all 1s linear 1s;
	position: relative;
	left: -105rem;
}
:hover .block2{
	left: 12.5rem;
}
.block2 img{
	border-radius: 4rem;
	width: 46.5rem;
}
.block2 :first-child{
	margin-bottom: 4.2rem;
}
.block3 {
	transition: all 1s linear 1s;
	position: relative;
	right: -105rem;
	margin-left: 30rem;
}
:hover .block3{
	right: 16rem;
}
.block3 img{
	border-radius: 4rem;
	width: 46.5rem;
}
.block3 :first-child{
	margin-bottom: 4.2rem;
}
.block4{
	transition: all 1s linear 2s;
	position: relative;
	right: -60rem;
	
}
:hover .block4{
	right: 8.5rem;
}
.block4 img{
	border-radius: 4rem;
	width: 37rem;
}

.part1{
	width: 50%;
   	font-size: 4.8rem;
	font-weight: 700;
	font-style: italic;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 0rem;

}
.circle1,.circle2,.circle3,.circle4{
	display: inline-block;
    text-align: center;
    padding-top: 0rem;
    
	margin-top: 2rem;
    margin-bottom: 0rem;
    margin-left: 6rem;
	margin-right: 6rem;
	line-height: 0;
}
.part1 p{
	margin-top: 2.5rem;
	margin-bottom: 0;
}

/*flex-direction: column;
.part1left>.circle:nth-child(1){height:50%}
.part1left>.circle:nth-child(2){height:50%}
.part1right>.circle:nth-child(1){height:50%}
.part1right>.circle:nth-child(2){height:50%}*/


div.circle1{
	animation: animation-circle1 8s linear infinite;
	position: relative;
	
}
div.circle2{
	animation: animation-circle2 8s linear infinite;
	position: relative;
	
}
div.circle3{
	animation: animation-circle3 8s linear infinite;
	position: relative;
	
}
div.circle4{
	animation: animation-circle4 8s linear infinite;
	position: relative;
}
@keyframes animation-circle1 {

	from,
	to {
		top: 0;
		left: 0rem;
	}
	25% {
		left: 47rem;
		top: 0;
	}
	50% {
		top: 45rem;
		left: 47rem;
	}
	75% {
		top: 45rem;
		left: 0rem;
}
}
@keyframes animation-circle2 {

	from,
	to {
		top: 0;
		left: 0rem;
	}
	25% {
		left: 0rem;
		top: 45rem;
	}
	50% {
		top: 45rem;
		left: -47rem;
	}
	75% {
		top: 0rem;
		left: -47rem;
}
}

@keyframes animation-circle3 {

	from,
	to {
		top: 0;
		left: 0rem;
	}
	25% {
		left: 0rem;
		top: -45rem;
	}
	50% {
		top: -45rem;
		left: 47rem;
	}
	75% {
		top: 0rem;
		left: 47rem;
}
}
@keyframes animation-circle4 {

	from,
	to {
		top: 0;
		left: 0rem;
	}
	25% {
		left: -47rem;
		top: 0;
	}
	50% {
		top: -45rem;
		left: -47rem;
	}
	75% {
		top: -45rem;
		left: 0rem;
}
}
.part2{
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
	padding-right: 0;
}
.part2 img{
	margin: auto 0 auto auto;
}
.h1{
	font-family: var(--font-Rosario);
	font-weight: 700;
	font-size: 9.6rem;
	text-align: center;
	width: 100%;
}
.h1 p{
	margin-bottom: 5rem;
}
.meet{
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	font-family: var(--font-Volkhov);
	font-size: 4.8rem;
}
.expert1{
	height: 67.7rem;
	width: 40.4rem;
	border-radius: 4rem;
	background-image: url(../img/3_01.png);
	position: relative;
	background-repeat: no-repeat;
}
.expert1:hover .name-expert, .expert2:hover .name-expert, .expert3:hover .name-expert, .expert4:hover .name-expert{
	height: 15.4rem;	
}
.meet:hover div{
	filter: brightness(0.3)
}
.meet div:hover{
	filter: brightness(1)
}
.meet div:hover .name-expert{
	filter: brightness(1)
}
.name-expert{
	color: #FFFAFA;
	background-color: rgba(163, 83, 10, 0.7);
	width: 100%;
	height: 0rem;
	border-radius: 0 0 4rem 4rem;
	text-align: center;
	position: absolute;
	bottom: 0;
	overflow: hidden;	
}
.expert2{
	height: 67.7rem;
	width: 39.27rem;
	border-radius: 4rem;
	background-image: url(../img/3_02.png);
	position: relative;
	background-repeat: no-repeat;
}
.expert3{
	height: 67.7rem;
	width: 39.92rem;
	border-radius: 4rem;
	background-image: url(../img/3_03.png);
	position: relative;
	background-repeat: no-repeat;
}
.expert4{
	height: 67.7rem;
	width: 39.46rem;
	border-radius: 4rem;
	background-image: url(../img/3_04.png);
	position: relative;
	background-repeat: no-repeat;
}
.contacts{
	width: 85%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding-top: 12rem;
}
.forms{
	width: 60%;
	text-align: center;
	margin-right: 3.4rem;
    margin-top: 5rem;
}
.forms p{
	width: 78%;
	margin-top: 0;
    margin-bottom: 0;
	font-family: var(--font-Rosario);
	font-weight: 700;
	font-size: 6.4rem;
	font-style: italic;
	line-height: 7.7rem;
}
.forms-two{
	background-color: #E5E5E5;
	width: 100%;
	height: 40rem;
}
.forms-total{
	display: flex;
	justify-content: space-between;
	margin: 3.5rem 2.9rem 2.0rem;
	padding-top: 3.5rem;
}
form input, textarea{
	font-family: var(--font-Rosario);
	font-size: 3.6rem;
	font-weight: 700;
}
.messadge{
	margin: 4.3rem 2.9rem 3.1rem;
}
textarea{
	height: 20.9rem;
	resize: none;
	width: 99%;
}
form input{
	height: 8rem;
}
.map{
	width: auto;
	margin-top: 7rem;
}
#map{
	height: 57rem;
}
.footer{
	width: 85%;
	display: flex;
	justify-content: space-between;
	margin: 8rem auto 2.9rem;
	text-align: center;
	font-family: var(--font-Rosario);
	font-weight: 700;
	font-size: 3rem;
}
.footer span, li{
	font-family: var(--font-Rosario);
	font-weight: 600;
	font-style: italic;
	font-size: 3rem;
	word-spacing: pre;
}
.footer h2{
	font-family: var(--font-Rosario);
	font-weight: 700;
	font-size: 3.6rem;
	margin-top: 0;
}
.insta{
	list-style-image: url(../img/insta.png);
}
.facebook{
	list-style-image: url(../img/facebook.png);
}
.twitter{
	list-style-image: url(../img/twitter.png);
}